
.square{
  width: 20vh;
  height: 20vh;
  font-size: 15vh;
  padding: 0;
}

.squareX{
  color: red;
  width: 20vh;
  height: 20vh;
  font-size: 15vh;
  padding: 0;
}

.squareO{
  color: green;
  width: 20vh;
  height: 20vh;
  font-size: 15vh;
  padding: 0;
}

.winnerText{
  font-size: 3vh;
}

.board-row{
  display: flex;
}

.board{
  align-self: center;
}

.app{
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
}